@(userSession: util.UserSession)

@header = {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/user-list.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("nvd3/src/nv.d3.css")" rel="stylesheet" type="text/css">
}

@content = {

	@nav("helpdesk", userSession)

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active tab">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a id="tickets-tab" class="sidebar-tab" href="" data-source="@routes.HelpDesk.tickets()" data-target="ajaxcontainer">
                    <i class="icon-list-ol"></i>
                    <span>Atendimento</span>
                </a>
            </li>            
            <li class="tab">
                <a id="contacts-tab" class="sidebar-tab" href="" data-source="@routes.HelpDesk.contacts()" data-target="ajaxcontainer">
                    <i class="icon-group"></i>
                    <span>Contatos</span>
                </a>
            </li>     
            <li class="tab">
                <a id="report-tab" class="sidebar-tab" href="" data-source="@routes.HelpDesk.reports()" data-target="ajaxcontainer">
                	<i class="icon-dashboard"></i>
                    <span>Estatísticas</span>
                </a>
            </li>
        </ul>
        <!-- <ul id="dashboard-menu" class="bottom-list">
            <li class="active tab">
                <a id="tickets-tab" class="sidebar-tab" href="" data-source="@routes.HelpDesk.tickets()" data-target="ajaxcontainer">
                    <i class="icon-user"></i>
                    <span>Misael</span>
                </a>
            </li>            
        </ul> -->
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content" data-id="ajaxcontainer">
        
    </div>


}

@footer = {

<script src="@routes.Assets.at("nvd3/lib/d3.v3.js")"></script>
<script src="@routes.Assets.at("nvd3/nv.d3.js")"></script>
<script src="@routes.Assets.at("nvd3/src/tooltip.js")"></script>
<script src="@routes.Assets.at("nvd3/src/utils.js")"></script>
<script src="@routes.Assets.at("nvd3/src/interactiveLayer.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/legend.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/axis.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/scatter.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/line.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/pie.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/discreteBar.js")"></script>
<script src="@routes.Assets.at("nvd3/src/models/discreteBarChart.js")"></script>

	<script type="text/javascript">
	
		$(document).ready(function() {
			@if(flash.get("tab") == null){
			   $("#tickets-tab").trigger('click');
			}
			@if(flash.get("tab") != null){
				$('#@flash.get("tab")').trigger('click');
			}
		});
		
	</script>
}

@main("Social Funnel - Estatísticas")(content)(header)(footer)