@(userSession: util.UserSession)

@header = {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/compiled/chart-showcase.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/lib/morris.css")">
}

@content = {

	@nav("index", userSession)
	
    <!-- main container -->
    <div class="content wide-content greetings-panel">
    	<div id="home-config" class="panel">
    		<div class="row">
    			<div class="col-sm-3 col-md-3 left-panel">
    				<h4 class="title">Dicas</h4>
    				<div id="info" class="list-group">
						<a href="#" class="list-group-item active">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
					</div>
					<h4 class="title">Primieros passos</h4>
					<div id="settings" class="list-group">
						<a href="#" class="list-group-item active">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
						<div class="progress progress-striped active">
						    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						    	<span class="sr-only">60% Complete</span>
						    </div>
					    </div>
					</div>
    			</div>
    			<div class="col-sm-9 col-md-9 right-panel">
    			</div>
    		</div>
    	</div>
	</div>      
}

@footer = {

    <!-- initialize this page scripts -->
    <script type="text/javascript">
    </script>
}

@main("Social Funnel - Estatísticas")(content)(header)(footer)