@(userSession: util.UserSession)

@header = {}

@content = {

	@nav(constants.AppNames.REPORTS.toString(), userSession)

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active tab">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="index.html">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>            
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">
    </div>


}

@footer = {
}

@main("Social Funnel - Estatísticas")(content)(header)(footer)