@(userSession: util.UserSession)

@header = {}

@content = {

	@nav(constants.AppNames.SOCIALNETWORKS.toString(), userSession)

<!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active tab">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="index.html">
                    <i class="icon-home"></i>
                    <span>Páginas e perfis</span>
                </a>
            </li>            
            <li class="tab">
                <a href="chart-showcase.html">
                    <i class="icon-signal"></i>
                    <span>Publicações</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content" data-id="ajaxcontainer">
		@socialnetworks.pages()
    </div>

}

@footer = {} 

@main("Social Funnel - Estatísticas")(content)(header)(footer)