@(userSession: util.UserSession, brand: Brand)
		<div class="container-fluid">
			<div id="pad-wrapper" class="users-list">
			
			<div class="row-fluid header">
                    <div class="span12">
                    	<div class="span3">
                    		<h4 class="title">Meus casos não resolvidos (1)</h4>
                    	</div>
                    	<div class="span9">
	                        <input type="text" class="span3 search" placeholder="Busca...">
	                        <!-- custom popup filter -->
	                        <!-- styles are located in css/elements.css -->
	                        <!-- script that enables this dropdown is located in js/theme.js -->
	                        <div class="ui-dropdown">
	                            <div class="head" data-toggle="tooltip" title="Click me!">
	                                Filtro
	                                <i class="arrow-down"></i>
	                            </div>  
	                            <div class="dialog">
	                                <div class="pointer">
	                                    <div class="arrow"></div>
	                                    <div class="arrow_border"></div>
	                                </div>
	                                <div class="body">
	                                    <p class="title">
	                                        Show users where:
	                                    </p>
	                                    <div class="form">
	                                        <select>
	                                            <option>Name</option>
	                                            <option>Email</option>
	                                            <option>Number of orders</option>
	                                            <option>Signed up</option>
	                                            <option>Last seen</option>
	                                        </select>
	                                        <select>
	                                            <option>is equal to</option>
	                                            <option>is not equal to</option>
	                                            <option>is greater than</option>
	                                            <option>starts with</option>
	                                            <option>contains</option>
	                                        </select>
	                                        <input type="text" />
	                                        <a class="btn-flat small">Add filter</a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	
	                        <a href="#" onclick="openNewTicketModal()" class="btn-flat success pull-right">
	                            <span>&#43;</span>
	                            NOVO CASO
	                        </a>
                        </div>
                    </div>
                </div>
			
                <div class="row-fluid"> <!-- new row-fluid -->
                	<!-- case list -->
                	<div class="span9 helpdesk-case-list pull-left">
                		<div class="table-products">
		                    <div class="row-fluid">
		                        <div class="span12">
		                        	<table class="table table-hover">
		                            <thead>
		                                <tr>
		                                    <th class="span2">
		                                        <input type="checkbox">
		                                        CONTATO
		                                    </th>
		                                    <th class="span3">
		                                        <span class="line"></span>
												ASSUNTO
		                                    </th>
		                                    <th class="span2">
		                                        <span class="line"></span>
		                                        ESTADO
		                                    </th>
		                                    <th class="span2">
		                                        <span class="line"></span>
		                                        ATUALIZADO EM
		                                    </th>
		                                    <th class="span2">
		                                        <span class="line"></span>
		                                        RESPONSÁVEL
		                                    </th>
		                                    <th class="span1">
		                                        <span class="line"></span>
		                                        PRIORIDADE
		                                    </th>
		                                </tr>
		                            </thead>
		                            <tbody>
		                                <!-- row -->
		                                <tr class="first next">
		                                    <td>
		                                        <input type="checkbox">
		                                        <a href="#">João Aleixo </a>
		                                    </td>
		                                    <td class="description">
		                                        if you are going to use a passage of Lorem Ipsum.
		                                    </td>
		                                    <td>
		                                        <span class="label label-success">Active</span>
		                                        <!-- 
		                                        <ul class="actions">
		                                            <li><i class="table-edit"></i></span></li>
		                                            <li><i class="table-settings"></i></li>
		                                            <li class="last"><i class="table-delete"></i></li>
		                                        </ul>
		                                         -->
		                                    </td>
		                                    <td>
		                                        12/06/2013
		                                    </td>
		                                    <td>
		                                        Misael
		                                    </td>
		                                    <td>
		                                        <span class="label">alta</span>
		                                    </td>
		                                </tr>
		                                <!-- row -->
		                                <tr class="">
		                                    <td>
		                                        <input type="checkbox">
		                                        <a href="#">João Aleixo </a>
		                                    </td>
		                                    <td class="description">
		                                        if you are going to use a passage of Lorem Ipsum.
		                                    </td>
		                                    <td>
		                                        <span class="label label-success">Active</span>
		                                        <!-- 
		                                        <ul class="actions">
		                                            <li><i class="table-edit"></i></span></li>
		                                            <li><i class="table-settings"></i></li>
		                                            <li class="last"><i class="table-delete"></i></li>
		                                        </ul>
		                                         -->
		                                    </td>
		                                    <td>
		                                        12/06/2013
		                                    </td>
		                                    <td>
		                                        Misael
		                                    </td>
		                                    <td>
		                                        <span class="label">alta</span>
		                                    </td>
		                                </tr>
		                                <!-- row -->
		                                <tr class="">
		                                    <td>
		                                        <input type="checkbox">
		                                        <a href="#">João Aleixo </a>
		                                    </td>
		                                    <td class="description">
		                                        if you are going to use a passage of Lorem Ipsum.
		                                    </td>
		                                    <td>
		                                        <span class="label label-success">Active</span>
		                                        <!-- 
		                                        <ul class="actions">
		                                            <li><i class="table-edit"></i></span></li>
		                                            <li><i class="table-settings"></i></li>
		                                            <li class="last"><i class="table-delete"></i></li>
		                                        </ul>
		                                         -->
		                                    </td>
		                                    <td>
		                                        12/06/2013
		                                    </td>
		                                    <td>
		                                        Misael
		                                    </td>
		                                    <td>
		                                        <span class="label">alta</span>
		                                    </td>
		                                </tr>
		                                <!-- row -->
		                                <tr class="">
		                                    <td>
		                                        <input type="checkbox">
		                                        <a href="#">João Aleixo </a>
		                                    </td>
		                                    <td class="description">
		                                        if you are going to use a passage of Lorem Ipsum.
		                                    </td>
		                                    <td>
		                                        <span class="label label-success">Active</span>
		                                        <!-- 
		                                        <ul class="actions">
		                                            <li><i class="table-edit"></i></span></li>
		                                            <li><i class="table-settings"></i></li>
		                                            <li class="last"><i class="table-delete"></i></li>
		                                        </ul>
		                                         -->
		                                    </td>
		                                    <td>
		                                        12/06/2013
		                                    </td>
		                                    <td>
		                                        Misael
		                                    </td>
		                                    <td>
		                                        <span class="label">alta</span>
		                                    </td>
		                                </tr>
		                                <!-- row -->
		                                <tr class="">
		                                    <td>
		                                        <input type="checkbox">
		                                        <a href="#">João Aleixo </a>
		                                    </td>
		                                    <td class="description">
		                                        if you are going to use a passage of Lorem Ipsum.
		                                    </td>
		                                    <td>
		                                        <span class="label label-success">Active</span>
		                                        <!-- 
		                                        <ul class="actions">
		                                            <li><i class="table-edit"></i></span></li>
		                                            <li><i class="table-settings"></i></li>
		                                            <li class="last"><i class="table-delete"></i></li>
		                                        </ul>
		                                         -->
		                                    </td>
		                                    <td>
		                                        12/06/2013
		                                    </td>
		                                    <td>
		                                        Misael
		                                    </td>
		                                    <td>
		                                        <span class="label">alta</span>
		                                    </td>
		                                </tr>
		                                <!-- row -->
		                                <tr class="">
		                                    <td>
		                                        <input type="checkbox">
		                                        <a href="#">João Aleixo </a>
		                                    </td>
		                                    <td class="description">
		                                        if you are going to use a passage of Lorem Ipsum.
		                                    </td>
		                                    <td>
		                                        <span class="label label-success">Active</span>
		                                        <!-- 
		                                        <ul class="actions">
		                                            <li><i class="table-edit"></i></span></li>
		                                            <li><i class="table-settings"></i></li>
		                                            <li class="last"><i class="table-delete"></i></li>
		                                        </ul>
		                                         -->
		                                    </td>
		                                    <td>
		                                        12/06/2013
		                                    </td>
		                                    <td>
		                                        Misael
		                                    </td>
		                                    <td>
		                                        <span class="label">alta</span>
		                                    </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                        </div>
		                    </div>
		                    <div class="pagination">
		                      <ul>
		                        <li><a href="#">&#8249;</a></li>
		                        <li><a class="active" href="#">1</a></li>
		                        <li><a href="#">2</a></li>
		                        <li><a href="#">3</a></li>
		                        <li><a href="#">4</a></li>
		                        <li><a href="#">&#8250;</a></li>
		                      </ul>
		                    </div>
		                </div>
		                <!-- end users table -->
                	</div>
                	<!-- end of case list -->
                	
                	<div class="span3 helpdesk-pane pull-right"> <!-- ticket side filter -->
                		<div id="helpdesk-pane-trigger"></div>
                		<ul class="sidebar-filter">
                			<li class="active">Meus casos não resolvidos <span class="badge badge-info">1</span></li>
                			<li>Casos não atribuídos <span class="badge badge-info">1</span></li>
                			<li>Todos não resolvidos <span class="badge badge-info">1</span></li>
                			<li>Pendentes <span class="badge badge-info">1</span></li>
                			<li>Recem atualizados <span class="badge badge-info">1</span></li>
                			<li>Caixa de saída <span class="badge badge-info">1</span></li>
                			<li>Resolvidos <span class="badge badge-info">1</span></li>
                		</ul>
                	</div>
                </div>
                <!-- end of row-fluid -->
            </div>
        </div>
        
<script type='text/javascript'>
/*    	setDatePicker();
   	$(".tag-list").slimScroll({height: '120px', disableFadeOut: true});
	forceScrollRestart(".tag-list");
 */	
	
$(function () {
	  // custom uiDropdown element, example can be seen in user-list.html on the 'Filter users' button
	var uiDropdown = new function() {
  	var self;
  	self = this;
  	this.hideDialog = function($el) {
    		return $el.find(".dialog").hide().removeClass("is-visible");
  	};
  	this.showDialog = function($el) {
    		return $el.find(".dialog").show().addClass("is-visible");
  	};
		return this.initialize = function() {
  		$("html").click(function() {
    		$(".ui-dropdown .head").removeClass("active");
      		return self.hideDialog($(".ui-dropdown"));
    		});
    		$(".ui-dropdown .body").click(function(e) {
      		return e.stopPropagation();
    		});
    		return $(".ui-dropdown").each(function(index, el) {
      		return $(el).click(function(e) {
      			e.stopPropagation();
      			$(el).find(".head").toggleClass("active");
      			if ($(el).find(".head").hasClass("active")) {
        			return self.showDialog($(el));
      			} else {
        			return self.hideDialog($(el));
      			}
      		});
    		});
    	};
  	};

    // instantiate new uiDropdown from above to build the plugins
  	new uiDropdown();


  	// toggle all checkboxes from a table when header checkbox is clicked
  	$(".table th input:checkbox").click(function () {
  		$checks = $(this).closest(".table").find("tbody input:checkbox");
  		if ($(this).is(":checked")) {
  			$checks.prop("checked", true);
  		} else {
  			$checks.prop("checked", false);
  		}  		
  	});
  	
  	/* $("input:checkbox, input:radio").uniform(); */
});
	
</script>