 
 
<link href="@routes.Assets.at("css/main.css")" rel="stylesheet" type="text/css" />
    

<div id="post-listing" class="col-lg-8">
	
	
	<!-- post entry -->
	<div class="row">
	
		<!-- avatar -->
		<div class="avatar-box col-lg-1">
			<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:50px; width: 50px">
			<span class="channel-icon">
				<i class="icon-facebook-sign"></i>
			</span>
		</div>
		<!-- end of avatar -->
	
		<div class="msg-box panel panel-default col-lg-11">
			<div id="panel-body">
				<div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
				
				<div class="msg-block">
					
					<div class="msg-header">
					
						<strong>Neytiri</strong>
						<span class="time">- 20:21</span>
						
						<!-- actions -->
						<ul class="actions">
							<li><a class="action-item"><i class="icon-external-link"></i></a></li>
		                    <li><a class="action-item"><i class="icon-inbox"></i></a></li>
			                <li><a class="action-item"><i class="icon-reply"></i></a></li>
			                <li class="dropdown">
				                <a class="dropdown-toggle action-item" data-toggle="dropdown">
				                	<i class="icon-caret-down"></i>
				                </a>
				                <ul class="dropdown-menu">
		                            <li><a href="/user/preferences"><i class="icon-cog"></i> Configurações</a></li>
		                            <li><a href="/dashboard/logout"><i class="icon-off"></i> Logout</a></li>
		                        </ul>
	                        </li>
						</ul> 
						<!-- end of actions -->
						
                    <!-- message -->
					</div>
					<div class="msg-body">
						<span>I have a problem. My computer not work!</span>
					</div>
					<!-- end of messages -->
					
					<!-- comments -->
					<ul class="comment-box list-group">
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>

					</ul>
					<!-- end of comments -->
				</div>
			</div>
		</div>
	
	</div>
	<!-- end of post entry -->
	
	<!-- post entry -->
	<div class="row">
	
		<!-- avatar -->
		<div class="avatar-box col-lg-1">
			<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:50px; width: 50px">
			<span class="channel-icon">
				<i class="icon-facebook-sign"></i>
			</span>
		</div>
		<!-- end of avatar -->
	
		<div class="msg-box panel panel-default col-lg-11">
			<div id="panel-body">
				<div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
				
				<div class="msg-block">
					
					<div class="msg-header">
					
						<strong>Neytiri</strong>
						<span class="time">- 20:21</span>
						
						<!-- actions -->
						<ul class="actions">
							<li><a class="action-item"><i class="icon-external-link"></i></a></li>
		                    <li><a class="action-item"><i class="icon-inbox"></i></a></li>
			                <li><a class="action-item"><i class="icon-reply"></i></a></li>
			                <li class="dropdown">
				                <a class="dropdown-toggle action-item" data-toggle="dropdown">
				                	<i class="icon-caret-down"></i>
				                </a>
				                <ul class="dropdown-menu">
		                            <li><a href="/user/preferences"><i class="icon-cog"></i> Configurações</a></li>
		                            <li><a href="/dashboard/logout"><i class="icon-off"></i> Logout</a></li>
		                        </ul>
	                        </li>
						</ul> 
						<!-- end of actions -->
						
                    <!-- message -->
					</div>
					<div class="msg-body">
						<span>I have a problem. My computer not work!</span>
					</div>
					<!-- end of messages -->
					
					<!-- comments -->
					<ul class="comment-box list-group">
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>

					</ul>
					<!-- end of comments -->
				</div>
			</div>
		</div>
	
	</div>
	<!-- end of post entry -->
	
	<!-- post entry -->
	<div class="row">
	
		<!-- avatar -->
		<div class="avatar-box col-lg-1">
			<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:50px; width: 50px">
			<span class="channel-icon">
				<i class="icon-facebook-sign"></i>
			</span>
		</div>
		<!-- end of avatar -->
	
		<div class="msg-box panel panel-default col-lg-11">
			<div id="panel-body">
				<div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
				
				<div class="msg-block">
					
					<div class="msg-header">
					
						<strong>Neytiri</strong>
						<span class="time">- 20:21</span>
						
						<!-- actions -->
						<ul class="actions">
							<li><a class="action-item"><i class="icon-external-link"></i></a></li>
		                    <li><a class="action-item"><i class="icon-inbox"></i></a></li>
			                <li><a class="action-item"><i class="icon-reply"></i></a></li>
			                <li class="dropdown">
				                <a class="dropdown-toggle action-item" data-toggle="dropdown">
				                	<i class="icon-caret-down"></i>
				                </a>
				                <ul class="dropdown-menu">
		                            <li><a href="/user/preferences"><i class="icon-cog"></i> Configurações</a></li>
		                            <li><a href="/dashboard/logout"><i class="icon-off"></i> Logout</a></li>
		                        </ul>
	                        </li>
						</ul> 
						<!-- end of actions -->
						
                    <!-- message -->
					</div>
					<div class="msg-body">
						<span>I have a problem. My computer not work!</span>
					</div>
					<!-- end of messages -->
					
					<!-- comments -->
					<ul class="comment-box list-group">
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>

					</ul>
					<!-- end of comments -->
				</div>
			</div>
		</div>
	
	</div>
	<!-- end of post entry -->
	
	<!-- post entry -->
	<div class="row">
	
		<!-- avatar -->
		<div class="avatar-box col-lg-1">
			<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:50px; width: 50px">
			<span class="channel-icon">
				<i class="icon-facebook-sign"></i>
			</span>
		</div>
		<!-- end of avatar -->
	
		<div class="msg-box panel panel-default col-lg-11">
			<div id="panel-body">
				<div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
				
				<div class="msg-block">
					
					<div class="msg-header">
					
						<strong>Neytiri</strong>
						<span class="time">- 20:21</span>
						
						<!-- actions -->
						<ul class="actions">
							<li><a class="action-item"><i class="icon-external-link"></i></a></li>
		                    <li><a class="action-item"><i class="icon-inbox"></i></a></li>
			                <li><a class="action-item"><i class="icon-reply"></i></a></li>
			                <li class="dropdown">
				                <a class="dropdown-toggle action-item" data-toggle="dropdown">
				                	<i class="icon-caret-down"></i>
				                </a>
				                <ul class="dropdown-menu">
		                            <li><a href="/user/preferences"><i class="icon-cog"></i> Configurações</a></li>
		                            <li><a href="/dashboard/logout"><i class="icon-off"></i> Logout</a></li>
		                        </ul>
	                        </li>
						</ul> 
						<!-- end of actions -->
						
                    <!-- message -->
					</div>
					<div class="msg-body">
						<span>I have a problem. My computer not work!</span>
					</div>
					<!-- end of messages -->
					
					<!-- comments -->
					<ul class="comment-box list-group">
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>
						<li class="list-group-item">
								<img src="http://www.gravatar.com/avatar/46aadaf16dd4f8c49119807371e3929d" alt="" class="img-polaroid" style="height:20px; width: 20px">
								<strong>Neytiri</strong>
								<span class="time">- 20:21</span>
								<span>I have a problem. My computer not work!</span>
						</li>

					</ul>
					<!-- end of comments -->
				</div>
			</div>
		</div>
	
	</div>
	<!-- end of post entry -->
	
</div>