@(agentForm: Form[Agent])(agent: Agent)(brandForm: Form[Brand])(brand: Brand)

<!DOCTYPE html>
<html class="login-bg">
<head>
	<title>Detail Admin - Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
   <!-- bootstrap -->
    <link href="@routes.Assets.at("css/bootstrap/bootstrap.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap/bootstrap-responsive.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap/bootstrap-overrides.css")" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/layout.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/elements.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/icons.css")">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/lib/font-awesome.css")">
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="@routes.Assets.at("css/signup.css")" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<link href="@routes.Assets.at("css/jquery.pnotify.default.css")" type="text/css" rel="stylesheet">
	<link href="@routes.Assets.at("css/jquery.pnotify.default.icons.css")" type="text/css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <a href="@landing.routes.Home.index()">
            <img src="@routes.Assets.at("img/logo.png")" class="logo" />
        </a>
    </div>
    @if(flash().get("invitation") == null || flash().get("invitation").equals("")){
    <form id="regform" class ="form-horizontal" method ="POST" action="@routes.Users.simpleRegister()">
    }else{
    <form id="regform" class ="form-horizontal" method ="POST" action="@routes.Users.register()">
    }
   		@if(flash().get("invitation") == null || flash().get("invitation").equals("")){ 
	    	<div id="brand-form" class="row-fluid login-wrapper" style=" @if(brandForm != null && !brandForm.hasErrors()){ display: none;}">
		        <div class="box">
		            <div class="content-wrap">
			                <h6>Cadastro</h6>
			                
							<div id="brand-name" class="control-group">
			                	<input class="span12" type="text" name="brandname" placeholder="Marca" value="@if(brand != null){@brand.getName()}"/>
			                </div>
			                <div id="brand-address" class="input-append control-group">
			                	<input class="brand-subdomain" type="text" name="brandaddress" placeholder="subdomínio" value="@if(brand != null){@brand.getNameAddress()}"/><span class="add-on brand-domain">.socialfunnel.net</span>
			                </div>
			                <div id="brand-phone" class="control-group">
			                	<input class="span12" type="text" name="brandphone" placeholder="Telefone" value="@if(brand != null){@brand.getPhone()}"/>
			                </div>
			                
			                <div class="action">
			                    <a id="next-step" class="btn-flat default signup" data-loading-text="Verificando...">PRÓXIMO</a>
			                </div>
		            </div>
		        </div>
		        <div class="span4 already">
			        <p>Já possui uma conta?</p>
			        <a href="@landing.routes.Home.signin()">Entre aqui</a>
			    </div>
		    </div>
    	}
	    <div id="user-form" class="row-fluid login-wrapper" style=" @if( (agentForm == null) || (brandForm != null && brandForm.hasErrors()) ){ display: none;}">
	        <div class="box">
	            <div class="content-wrap">
		                <h6>Cadastro</h6>
		                
		                @if(flash().get("invitation") != null && !flash().get("invitation").equals("")){
			            	<input type="hidden" name="invitation" value='@flash().get("invitation")'/>
						}
						<div class="control-group @if(agentForm != null && agentForm.hasErrors() && agentForm.errors().containsKey("name")) { error }">
		                	<input class="span12" type="text" name="name" placeholder="Nome" value="@if(agent != null){@agent.getName()}"/>
		                </div>
		                <div class="control-group @if(agentForm != null && agentForm.hasErrors() && agentForm.errors().containsKey("username")) { error }">
		                	<input class="span12" type="text" name="username" placeholder="Username" value="@if(agent != null){@agent.getUsername()}"/>
		                </div>
		                <div class="control-group @if(agentForm != null && agentForm.hasErrors() && agentForm.errors().containsKey("email")) { error }">
		                	<input class="span12" type="text" name="email" placeholder="Email" value="@if(agent != null){@agent.getEmail()}"/>
		                </div>
		                <div class="control-group @if(agentForm != null && agentForm.hasErrors() && agentForm.errors().containsKey("password")) { error }">
		                	<input class="span12" type="password" name="password" placeholder="Senha"/>
		                </div>
		                
		                <div class="action">
		                    <button class="btn-flat default signup">Cadastrar</button>
		                </div>
	            </div>
	        </div>
	        <div class="span4 already">
		        <p>Já possui uma conta?</p>
		        <a href="@landing.routes.Home.signin()">Entre aqui</a>
		    </div>
	    </div>
    </form>                

    

	<!-- scripts -->
    <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/theme.js")"></script>
    <script src="@routes.Assets.at("js/jquery.pnotify.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.placeholder.js")"></script>
    
    <script type="text/javascript">
    	$("input, textarea").placeholder();
    
    	@if(agentForm != null && agentForm.hasErrors){
    		
    		var message = "<ul>"
		    @if(agentForm.errors.size() > 0) {
		        @for((key, value) <- agentForm.errors) {
		        	@for(err <- value) {
		        		@if(err != null){ 
		        			+ "<li>@err.message()</li> \n" 
		        		}
		            }
		        }
		    }
    		
    		message = message + "</ul>"
    		
    		$.pnotify({
  			  text: message,
  			  type: "error",
  			  width:"320px",
  			  sticker: false,
  			  history: false,
  			  delay: 4000,
  			  //closer: false,
  			  before_open: function(pnotify){
  			    pnotify.css({
  			      "top":"40px", 
  			      "left": ($(window).width() / 2) - (pnotify.width() / 2)
  			    });
  			  }
  			}); 
    	}
    	
    	function handleInvalidAddress(text){
    		$("#brand-address").addClass("error")
    		
    		$.pnotify({
    			  text: text,
    			  type: "error",
    			  width:"320px",
    			  sticker: false,
    			  history: false,
    			  delay: 4000,
    			  //closer: false,
    			  before_open: function(pnotify){
    			    pnotify.css({
    			      "top":"40px", 
    			      "left": ($(window).width() / 2) - (pnotify.width() / 2)
    			    });
    			  }
    			}); 
    	}
    	
		function handleValidAddress(){
			$("#brand-address").removeClass("error")
			
				$("#brand-form").animate({
	                opacity: 0,
	                marginLeft: '-=450'
	            }, 
	            300,
	            'swing',
	            function(){
	            	$("#user-form").fadeIn("show");
	            });
    	}
    	
    	function checkAddress(){
			var value = $("#brand-address input").val();
			var input = {"input": value}
			$.ajax({
				url: "@routes.Brands.brandNameAddressCheck()",
				data: input,
				success:function(data){
					
					if(data.success && data.available) {
						handleValidAddress();
					}else if(data.success == false && data.available == false){
						handleInvalidAddress("O subdomínio escolhido já está sendo usado.");
					}else{
						handleInvalidAddress("O subdomínio não pode ter números, caracteres especiais ou espaços.");
					}
				},
				error:function(){
					handleInvalidAddress();
				},
				complete:function(){
					$("#next-step").button('reset');
				}
			});
		}
    	
    	$("#next-step").click(function(){
    		var error = false;

    		if(!$("#brand-name input").val().trim()){
    			$("#brand-name").addClass("error");
    			error = true;
    		}else{
    			$("#brand-name").removeClass("error");
    		}
    		
			if(!$("#brand-address input").val().trim()){
				$("#brand-address").addClass("error");
				error = true;
			}else{
    			$("#brand-address").removeClass("error");
    		}
			
			if(!$("#brand-phone input").val().trim()){
				$("#brand-phone").addClass("error");
				error = true;
			}else{
    			$("#brand-phone").removeClass("error");
    		}
			
			if(error){
				$.pnotify({
	    			  text: "Todos os campos são obrigatórios.",
	    			  type: "error",
	    			  width:"320px",
	    			  sticker: false,
	    			  history: false,
	    			  delay: 4000,
	    			  //closer: false,
	    			  animate_speed: 'fast',
	    			  before_open: function(pnotify){
	    			    pnotify.css({
	    			      "top":"40px", 
	    			      "left": ($(window).width() / 2) - (pnotify.width() / 2)
	    			    });
	    			  }
	    			});
				return;
			}
    			
    		$("#next-step").button('loading');
    		checkAddress();
    	})
    	
    	@if((brandForm != null && brandForm.hasErrors()) ){
    		checkAddress();
    	}
	</script>
</body>
</html>