@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    
    <link href="@routes.Assets.at("admin/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/bootstrap-responsive.min.css")" rel="stylesheet">
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/font-awesome.css")" rel="stylesheet">
    
    <link href="@routes.Assets.at("admin/css/adminia.css")" rel="stylesheet"> 
    <link href="@routes.Assets.at("admin/css/adminia-responsive.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/pages/faq.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/pages/login.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/pages/dashboard.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/pages/plans.css")" rel="stylesheet"> 
    <link href="@routes.Assets.at("admin/css/pages/dashboard.css")" rel="stylesheet"> 
    
    <script src="@routes.Assets.at("admin/js/jquery-1.7.2.min.js")"></script>
    <script src="@routes.Assets.at("admin/js/faq.js")"></script>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  </head>

<body>
        @content
    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="@routes.Assets.at("admin/js/excanvas.min.js")"></script>
<script src="@routes.Assets.at("admin/js/jquery.flot.js")"></script>
<script src="@routes.Assets.at("admin/js/jquery.flot.pie.js")"></script>
<script src="@routes.Assets.at("admin/js/jquery.flot.orderBars.js")"></script>
<script src="@routes.Assets.at("admin/js/jquery.flot.resize.js")"></script>

<script src="@routes.Assets.at("admin/js/bootstrap.js")"></script>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@routes.Assets.at("admin/js/charts/bar.js")"></script>
<script src="@routes.Assets.at("admin/js/charts/area.js")"></script>
<script src="@routes.Assets.at("admin/js/charts/line.js")"></script>
<script src="@routes.Assets.at("admin/js/charts/pie.js")"></script>

</body>
</html>
